footer {
    background-color: var(--header-footer-background-color);
    padding: 0px 20px 0px 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--header-footer-height);
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}