.md-viewer {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: calc(var(--header-footer-height) * 2); /* Adjust this value based on your footer's height */
}